<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyrx.jcms.dao.sys.SysCodeDao">
  <resultMap id="BaseResultMap" type="com.xyrx.jcms.entity.sys.SysCode">
    <id column="CODE_ID" jdbcType="VARCHAR" property="codeId" />    <!-- 代码ID：ID规则CODE_TYPE + "-" + CODE -->
    <result column="CODE" jdbcType="VARCHAR" property="code" />    <!-- 代码 -->
    <result column="CODE_TYPE" jdbcType="VARCHAR" property="codeType" />    <!-- 代码类别 -->
    <result column="CODE_VALUE" jdbcType="VARCHAR" property="codeValue" />    <!-- 代码值 -->
    <result column="CODE_VALUE_1" jdbcType="VARCHAR" property="codeValue1" />    <!-- 代码扩展信息1 -->
    <result column="CODE_VALUE_2" jdbcType="VARCHAR" property="codeValue2" />    <!-- 代码扩展信息2 -->
    <result column="ORDER_BY" jdbcType="DECIMAL" property="orderBy" />    <!-- 同一个TYPE下的展现顺序号 -->
    <result column="PAR_CODE_ID" jdbcType="VARCHAR" property="parCodeId" />    <!-- 父代码ID -->
    <result column="VALID_FLAG" jdbcType="CHAR" property="validFlag" />    <!-- 有效标识：Y/N -->
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />    <!-- 记录创建者 -->
    <result column="CREATED_TS" jdbcType="TIMESTAMP" property="createdTs" />    <!-- 记录创建时间 -->
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />    <!-- 记录最后更新者 -->
    <result column="LAST_UPD_TS" jdbcType="TIMESTAMP" property="lastUpdTs" />    <!-- 记录最后更新时间 -->
  </resultMap>
  <sql id="Base_Column_List">
    CODE_ID, CODE, CODE_TYPE, CODE_VALUE, CODE_VALUE_1, CODE_VALUE_2, ORDER_BY, PAR_CODE_ID, 
    VALID_FLAG, CREATED_BY, CREATED_TS, LAST_UPD_BY, LAST_UPD_TS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_CODE
    where CODE_ID = #{codeId,jdbcType=VARCHAR}
  </select>
  <select id="selectByExample" parameterType="com.xyrx.jcms.entity.sys.SysCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_CODE
    <where>
    <if test="codeId != null and codeId != '' ">
       AND CODE_ID = #{codeId,jdbcType=VARCHAR}
    </if>
    <if test="code != null and code != '' ">
       AND CODE = #{code,jdbcType=VARCHAR}
    </if>
    <if test="codeType != null and codeType != '' ">
       AND CODE_TYPE = #{codeType,jdbcType=VARCHAR}
    </if>
    <if test="codeValue != null and codeValue != '' ">
       AND CODE_VALUE = #{codeValue,jdbcType=VARCHAR}
    </if>
    <if test="codeValue1 != null and codeValue1 != '' ">
       AND CODE_VALUE_1 = #{codeValue1,jdbcType=VARCHAR}
    </if>
    <if test="codeValue2 != null and codeValue2 != '' ">
       AND CODE_VALUE_2 = #{codeValue2,jdbcType=VARCHAR}
    </if>
    <if test="orderBy != null">
       AND ORDER_BY = #{orderBy,jdbcType=DECIMAL}
    </if>
    <if test="parCodeId != null and parCodeId != '' ">
       AND PAR_CODE_ID = #{parCodeId,jdbcType=VARCHAR}
    </if>
    <if test="validFlag != null">
       AND VALID_FLAG = #{validFlag,jdbcType=CHAR}
    </if>
    <if test="createdBy != null and createdBy != '' ">
       AND CREATED_BY = #{createdBy,jdbcType=VARCHAR}
    </if>
    <if test="createdTs != null">
       AND CREATED_TS = #{createdTs,jdbcType=TIMESTAMP}
    </if>
    <if test="lastUpdBy != null and lastUpdBy != '' ">
       AND LAST_UPD_BY = #{lastUpdBy,jdbcType=VARCHAR}
    </if>
    <if test="lastUpdTs != null">
       AND LAST_UPD_TS = #{lastUpdTs,jdbcType=TIMESTAMP}
    </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_CODE
    where CODE_ID = #{codeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xyrx.jcms.entity.sys.SysCode">
    insert into SYS_CODE (CODE_ID, CODE, CODE_TYPE, 
      CODE_VALUE, CODE_VALUE_1, CODE_VALUE_2, 
      ORDER_BY, PAR_CODE_ID, VALID_FLAG, 
      CREATED_BY, CREATED_TS, LAST_UPD_BY, 
      LAST_UPD_TS)
    values (#{codeId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{codeType,jdbcType=VARCHAR}, 
      #{codeValue,jdbcType=VARCHAR}, #{codeValue1,jdbcType=VARCHAR}, #{codeValue2,jdbcType=VARCHAR}, 
      #{orderBy,jdbcType=DECIMAL}, #{parCodeId,jdbcType=VARCHAR}, #{validFlag,jdbcType=CHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTs,jdbcType=TIMESTAMP}, #{lastUpdBy,jdbcType=VARCHAR}, 
      #{lastUpdTs,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xyrx.jcms.entity.sys.SysCode">
    insert into SYS_CODE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codeId != null">
        CODE_ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="codeType != null">
        CODE_TYPE,
      </if>
      <if test="codeValue != null">
        CODE_VALUE,
      </if>
      <if test="codeValue1 != null">
        CODE_VALUE_1,
      </if>
      <if test="codeValue2 != null">
        CODE_VALUE_2,
      </if>
      <if test="orderBy != null">
        ORDER_BY,
      </if>
      <if test="parCodeId != null">
        PAR_CODE_ID,
      </if>
      <if test="validFlag != null">
        VALID_FLAG,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTs != null">
        CREATED_TS,
      </if>
      <if test="lastUpdBy != null">
        LAST_UPD_BY,
      </if>
      <if test="lastUpdTs != null">
        LAST_UPD_TS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codeId != null">
        #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null">
        #{codeType,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null">
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeValue1 != null">
        #{codeValue1,jdbcType=VARCHAR},
      </if>
      <if test="codeValue2 != null">
        #{codeValue2,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=DECIMAL},
      </if>
      <if test="parCodeId != null">
        #{parCodeId,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null">
        #{validFlag,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTs != null">
        #{createdTs,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdBy != null">
        #{lastUpdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdTs != null">
        #{lastUpdTs,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>